<div class="module_container">
  <div class="module_header">
    <span>_Sample List</span>
  </div>
  <table class="aruba_grid" id="alert">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
