<a href="#" id="logo" title="back to home screen">Sungard AS</a>
<div id="nav">
  <ul>
    <li id="app_name">
    <div>Lambda Console</div>
    </li>
    <li class="_samples">
    <div>
    </div>
    </li>
  </ul>
</div>

<div class="buttons">
  <div class="user">
  </div>
</div>

<style>
span.red {
  background: #b00014;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}
</style>
