<div class="module_container">

  <div class="module_header">
    <div>Function List</div>
    <div>{{account}} in {{region}}</div>
    <div class="actions">
      <!--<a class="plus" href="#/aws_account/create">+</a>-->
      <a class="go" href="#aws_accounts/{{id}}/lambdas">&rsaquo;</a>
    </div>
  </div>

  <div class="module_content">
    <ul class="side-nav">
    </ul>
  </div>

</div>
