<h3>{{account}} ({{name}}) in {{region}}</h3>
<br>
<div class="module_container">
  <div class="module_header">
    <span>Lambda List</span>
  </div>
  <table class="aruba_grid" id="alert">
    <thead>
      <tr>
        <th class="edit">FunctionName</th>
        <!--<th>FunctionArn</th>
        <th>Runtime</th>
        <th>Role</th>
        <th>Handler</th>
        <th>CodeSize</th>-->
        <th>Description</th>
        <th>Timeout</th>
        <th>MemorySize</th>
        <th>LastModified</th>
        <!--<th>CodeSha256</th>
        <th>Version</th>-->
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
